@import "tailwindcss";

@theme {
  --color-navy: #111827;
  --color-crimson: #E3242B;
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  html { scroll-behavior: smooth; }
  body { @apply bg-[#FDFDFD] text-navy; }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }
  
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  /* Berhenti jalan saat kursor diletakkan di atasnya */
  .group:hover .animate-marquee {
    animation-play-state: paused;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }

  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}

